body {
    background-image: url(https://bossip.files.wordpress.com/2014/06/fortune-teller.jpg);
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
    background-color: black;
}

#title {
    position: fixed;
    font-size: 150px;
    color: white;
    text-align: center;
    opacity: 0.7;
}

.guess {
    width: 170px;
    height: 170px;
    border: 2px solid black;
    border-radius: 100%;
    background-color: purple;
    opacity: 0.6;
    color: white;
    font-family: Garamond;
    float: left;
    margin-left: 80px;
    text-align: center;
    margin-top: 100px;
    font-size: 40px;
    padding: 15px;
    letter-spacing: 3px;
}

.guess:hover {
    
    background-color: white;
    opacity: 0.6;
    font-style: line;
    color: black;
    font-size: 40px;
}


#right {
    display: none;
    float: right;
    margin-right: 80px;
}

#bottom {
    float: right;
    align-content: center;
    clear: both;

}

#field {
    width: 50%;
    position: fixed;
    left: 75%;
    margin-left: -50%;
    top: 60%;
    height: 10%;
    font-size: 35px;
    text-align: center;
    opacity: .8;
}

#message {
    display: none;
    width: 100%;
    position: fixed;
    height: 30%;
    background-color: violet;
    margin-top: 15%;
    opacity: 0.7;
    border: 4px solid black;
    text-align: center;
    font-size: 75px;
    
}

ul {
    background-color: black;
    color: white;
    opacity: 0.8;
    width: 210px;
    height: 30px;
    position: fixed;
    font-size: 25px;
    margin-top: -2%;
    border: 2px solid white;
}


